@font-face {
  font-family: "MBFSpace";
  src: url("assets/fonts/MBFSpace.eot"),
    url("assets/fonts/MBFSpace.woff2") format("woff2"),
    url("assets/fonts/MBFSpace.woff") format("woff"),
    url("assets/fonts/MBFSpace.ttf") format("truetype");
}

/* 
  COLOR PALETTE for now: 
  3d0066 - purple most
  510087 - purple medium
  5c0099 - purple
  fdc500 - yellow ochre
  ffd500 - yellow
  */

/* HEADER */
#header {
  background: #3d0066;
  height: 80px;
  padding: 25px 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  right: 0;
  z-index: 3;
}

/* HEADER IMAGE */
#header #logo img {
  position: absolute;
  left: 0.5%;
  top: 10%;
  padding: 2px;
  size: inherit;
  margin: auto;
  height: 65px;
}

/* HEADER NAVBAR */
.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 4;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

#nav-menu-container {
  float: right;
  margin: 0;
}

.nav-menu a {
  padding: 2px;
  text-decoration: none;
  display: inline-block;
  color: #ffd500;
  font-weight: 600;
  font-size: 18px;
  outline: none;
}

.nav-menu .menu-active a,
.nav-menu a:hover {
  color: #fdc500;
}

.nav-menu > li {
  margin-left: 8px;
}

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fdc500;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before,
.nav-menu li:hover > a:before,
.nav-menu .menu-active > a:before {
  visibility: visible;
  width: 100%;
}

/* FOOTER */
#footer {
  position: fixed;
  left: 0;
  top: 67.5%;
  width: 100%;
  right: 0;
  z-index: 3;
  font-size: 14px;
  color: #fdc500;
  background: #3d0066;
}

#footer .footer-top {
  color: #fdc500;
  padding: 30px;
}

#footer .footer-top .footer-info img {
  height: 40px;
  margin-bottom: 10px;
}

#footer .footer-top a {
  color: #fdc500;
}

#footer .footer-top a:hover {
  color: #510087;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #5c0099;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #ffd500;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
  border-bottom: 2px solid #ffd500;
}

#footer .footer-top .footer-links {
  color: #fdc500;
}

#footer .footer-top .footer-links ul {
  color: #fdc500;
  list-style: none;
  font-size: 17px;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 5px;
  color: #ffd500;
  font-size: 18px;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #fdc500;
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  color: #fdc500;
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fdc500;
}

#footer .footer-top .footer-links ul a:hover {
  color: #ffd500;
}

#footer .footer-top .footer-contact {
  color: #fdc500;
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  color: #fdc500;
  line-height: 26px;
}

/* FOOTER COPYRIGHT */

#footer .copyright {
  text-align: center;
  padding-bottom: 10px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
}
